<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About Us - SkillConnect</title>
</head>
<body>
    <header>
        <h1>About SkillConnect</h1>
        <% if (user) { %>
            <nav class="navbar">
                <div class="logo">
                    <a href="#">MyLogo</a> <!-- Replace with your logo or image -->
                </div>
                <ul class="nav_links">
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                <div class="profile">
                    <img id="profilePhoto" src="<%= user.profile_photo ? user.profile_photo.replace(/\\/g, '/') : '/images/default_profile_photo.jpg' %>" alt="Profile Photo">
                    <div class="dropdown-content" id="dropdown">
                        <a href="/my_profile">My Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
                <div class="container"></div>
                    <nav class="sidebar" id="sidebar">
                        <h2>Navigation</h2>
                        <ul>
                            <li><a href="/people">People</a></li>
                            <li><a href="/showcase">Showcases</a></li>
                            <li><a href="/post">Posts</a></li>
                        </ul>
                    </nav>
            
                    <div class="content">
                        <button class="hamburger" id="hamburger">
                            &#9776; <!-- This is the hamburger icon -->
                        </button>
                        <h1>Welcome to My Page</h1>
                        <p>This is the main content area.</p>
                        <!-- More content can go here -->
                    </div>
                </div>
            </nav>
        <% } else { %>
            <nav class="navbar"></nav>
                <div class="logo">
                    <a href="#">MyLogo</a>
                </div>
                <ul class="nav_links">
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        <% } %>
    </header>